{% extends 'ecom/main.html' %} {% load static %} {% block content %}
<div class="box-element iform">
  <a class="btn btn-outline-dark" href="{% url 'cart' %}"
    >&#x2190; Go to my shopping cart</a
  >
  <hr />
  <h3 style="text-align: center">Your shopping cart</h3>
  <hr />

  <h7 class="osm">name</h7>
  <h7 class="osm1">price</h7>
  <h7 class="osm2">quantity</h7>
  <hr />
  {% for item in items %}
  <div class="cart-row">
    <div style="flex: 2">
      <img class="row-image" src="{{item.product.imageURL}}" />
    </div>
    <div style="flex: 2"><p>{{item.product.name}}</p></div>
    <div style="flex: 1"><p>{{item.product.price}} €</p></div>
    <div style="flex: 1">
      <p class="quantity">{{item.quantity}}</p>
    </div>
  </div>
  {% endfor %}
  <div class="row" style="text-align: center">
    <div class="col-sm"><h5>number of items in your basket: {{ order.total_cart_items}}</h5></div>
    <div class="col-sm"><h5>Total price: {{ order.get_cart_total}} €</h5></div>
  </div>
</div>

<div class="box-element" id="form-wrapper">
  <p style="text-align: center; font-size: 30px">
    Fill the form bellow for the transport
  </p>
  <hr />
  <form id="form">
    <div id="user-info" style="text-align: center">
      <div class="form-field">
        <input
          required
          class="form-control"
          type="text"
          name="name"
          placeholder="Name.."
        />
      </div>
      <div class="form-field">
        <input
          required
          class="form-control"
          type="email"
          name="email"
          placeholder="Email.."
        />
      </div>
    </div>

    <div style="text-align: center" id="shipping-info">
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="address"
          placeholder="Address.."
        />
      </div>
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="city"
          placeholder="City.."
        />
      </div>
      <br />
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="state"
          placeholder="State.."
        />
      </div>

      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="country"
          placeholder="Zip code.."
        />
      </div>
    </div>

    <hr />
    <input
      id="form-button"
      class="btn btn-success btn-block"
      type="submit"
      value="Continue"
    />
  </form>
</div>
<div class="box-element iform hidden" id="payment-info">
  <small>Paypal Options</small>
</div>
<script type="text/javascript">
  var form = document.getElementById('form');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    console.log('form submitted....');
    document.getElementById('form-button').classList.add('hidden');
    document.getElementById('payment-info').classList.remove('hidden');
  });
</script>
{% endblock content %}
